body {
  font-family: 'Microsoft JhengHei', "Poppins", sans-serif;
  padding-right: 0 !important;
  background: #dee2e6;
}

.p-t-7, .control-label {
  padding-top: 7px;
}

.p-r-0 {
  padding-right: 0;
}

.check-inline {
  margin-right: 5px;
}

.badge {
  color: #fff;
}

@media (max-width: 600px) {
  .badge {
    margin-bottom: 5px;
  }
}

.badge-info {
  background-color: #29bbe3;
}

.badge-day {
  background-color: #EC808D;
}

.badge-week {
  background-color: #74DFB2;
}

.badge-month {
  background-color: #ECC180;
}

.badge-payway {
  background-color: #81D3F8;
}

.badge-user {
  background-color: #A6A8B1;
}

.code {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.code input {
  margin-right: 5px;
}

.code button {
  color: #495057;
}

.code button:hover {
  color: #495057;
}

.fa-caret-square-down {
  font-size: 12px;
}

.width-40 {
  width: 40px;
}

.width-date {
  width: 170px;
}

.width-status {
  width: 80px;
}

.width-control {
  width: 80px;
}

.width-control-lg {
  width: 130px;
}

.width-ip {
  width: 600px;
}

.width-name {
  width: 350px;
}

.width-tag {
  width: 150px;
}

.text-green {
  color: #3bb563;
}

.text-red {
  color: #ec536c;
}

.text-blue {
  color: #337ab7;
}

.text-orange {
  color: #f5b225;
}

.text-break-all {
  word-break: break-all;
}

.text-uncontrol {
  color: #999;
  cursor: no-drop;
}

.text-lg {
  font-size: 20px;
}

.text-modal {
  color: #337ab7;
  cursor: pointer;
}

.btn-info-lighter {
  background-color: #00babc;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-info-lighter:hover {
  background-color: #00a1a3;
  color: #fff;
}

.btn-purple-lighter {
  background-color: #7364b3;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-purple-lighter:hover {
  background-color: #6453aa;
  color: #fff;
}

.btn-search {
  background-color: #283143;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-search:hover {
  background-color: #1e2533;
  color: #fff;
}

.btn-add {
  background-color: #3eb7ba;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-add:hover {
  background-color: #38a4a7;
  color: #fff;
}

.btn-delete {
  background-color: #ff5b57;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-delete:hover {
  background-color: #ff423e;
  color: #fff;
}

.btn-application {
  background-color: #f5b225;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-application:hover {
  background-color: #f4a90d;
  color: #fff;
}

.btn-replay {
  background-color: #2f4f8f;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-replay:hover {
  background-color: #29447c;
  color: #fff;
}

.btn-code {
  background-color: #e9ecef;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-code:hover {
  background-color: #dadfe4;
  color: #fff;
}

.login-alert {
  text-align: center;
  padding: 1rem;
}

.login-alert > div {
  margin-bottom: 0;
  padding: 10px;
}

.login-alert .alert-dismissible .close {
  padding: 8px 15px 7px;
}

.nav-pro-img img {
  position: relative;
  top: -2px;
}

.notification-list .pc-today-list i {
  color: #fff;
}

@media (max-width: 400px) {
  .notification-list .nav-link {
    padding: 0 9px;
  }
}

.notification-list .noti-icon {
  font-size: 30px;
}

.topbar-custom .today-box.show > .nav-link,
.topbar-custom .today-box.show > .nav-link:hover,
.topbar-custom .today-box.show > .nav-link:focus {
  background-color: transparent;
}

.topbar-custom .mb-today-btn {
  display: none;
}

@media (max-width: 991px) {
  .topbar-custom .mb-today-btn {
    display: inline-block;
    vertical-align: top;
  }
}

.topbar-custom .ip > span, .topbar-custom .pc-today-list > span {
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 19px;
}

.topbar-custom .ip > span i, .topbar-custom .pc-today-list > span i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 20px;
}

.topbar-custom .ip {
  display: inline-block;
  padding: 0;
}

.topbar-custom .ip > span {
  background-color: #d1dce0;
}

.topbar-custom .pc-today-list {
  display: inline-block;
  padding-left: 2px;
}

.topbar-custom .pc-today-list > span {
  color: #fff;
}

.topbar-custom .pc-today-list > span > span {
  display: inline-block;
  vertical-align: middle;
}

.topbar-custom .pc-today-list > span > span i.noti-icon {
  font-size: 20px;
}

.topbar-custom .pc-today-list > span:nth-child(1) {
  background-color: #35bd4e;
}

.topbar-custom .pc-today-list > span:nth-child(2) {
  background-color: #ffb000;
}

.topbar-custom .pc-today-list > span:nth-child(3) {
  background-color: #2bbedc;
}

@media (max-width: 991px) {
  .topbar-custom .pc-today-list {
    display: none;
  }
}

.topbar-custom .mb-today-list span {
  display: inline-block;
  width: calc(50% - 2px);
}

.topbar-custom .mb-today-list span:last-child {
  text-align: right;
  margin-left: 10px;
}

.page-alert {
  -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.required b {
  color: #ff5b57;
}

.tips {
  color: #ff7600;
  margin-top: 5px;
}

.modal-dialog {
  max-width: 700px;
}

.modal-search-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.modal-search-box input, .modal-search-box button {
  margin-right: 5px;
}

.swal2-confirm, .swal2-cancel {
  vertical-align: top;
}

.info .p-t-7, .hand-info .p-t-7 {
  border-bottom: 1px dotted #e1e4e6;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 15px);
          flex: 0 0 calc(75% - 15px);
}

#topnav .topbar-main .logo .logo-large {
  height: 30px;
}

@media screen and (min-width: 991px) {
  #topnav .navigation-menu > li.last-elements .submenu {
    right: auto;
  }
  #topnav .navigation-menu > li .submenu {
    top: 135%;
    margin-top: 0;
    border-radius: 6px;
  }
  #topnav .navigation-menu > li .submenu::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -15px;
    left: 25px;
    z-index: 1;
  }
  #topnav .navigation-menu > li .submenu::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -15px;
    z-index: -1;
  }
  #topnav .navigation-menu > li:hover .submenu {
    top: 125%;
  }
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .navigation-menu {
    display: block;
  }
}

.wrapper {
  padding-top: 245px;
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 160px;
  }
}

.page-title-box .page-title, .page-title-box .breadcrumb {
  vertical-align: middle;
}

.page-title-box .breadcrumb > li {
  display: inline-block;
}

.page-title-box .breadcrumb > li + li::before {
  content: "/" !important;
}

.view-box {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-box > div {
  margin-top: 10px;
}

@media screen and (max-width: 905px) {
  .view-box > div {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.view-btn-box > div {
  margin-top: 10px;
}

@media screen and (min-width: 480px) and (max-width: 575px) {
  .view-btn-box > div {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (max-width: 479px) {
  .view-btn-box {
    margin-top: 0 !important;
  }
  .view-btn-box .view-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .view-btn-box .view-btn .btn-half {
    width: 50%;
  }
  .view-btn-box .view-btn .btn-half:first-child {
    margin-right: 5px;
  }
  .view-btn-box .view-btn .btn-full {
    width: 100%;
  }
}

.view-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-info > div {
  margin-left: 10px;
}

.view-info > div span {
  background-color: #dee2e4;
  display: inline-block;
  padding: 5px 10px;
  margin-left: -4px;
}

.view-info > div span + span {
  border-left: 1px solid #cad0d2;
}

.view-info > div span b {
  margin-right: 5px;
}

.view-page {
  text-align: right;
}

.view-page select {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  margin: 0 5px;
  height: 32px;
}

.table-box {
  margin-bottom: 0;
}

.table-box thead tr th {
  padding: 8px 5px;
  white-space: nowrap;
  background-color: #6c757d;
  color: #fff;
}

.table-box tbody > tr > td, .table-box tfoot > tr > td {
  padding: 8px 5px;
}

.table-box tbody > tr > td a, .table-box tfoot > tr > td a {
  cursor: pointer;
}

.table-box tbody > tr > td i, .table-box tfoot > tr > td i {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  margin: 0 5px;
}

.table-box tfoot tr td {
  background-color: #f5f5f5;
}

.table-sort thead tr th {
  position: relative;
}

.table-sort thead tr th.sorting::before, .table-sort thead tr th.sorting::after {
  font-family: "dripicons-v2" !important;
  position: absolute;
  cursor: pointer;
  opacity: 0.4;
}

.table-sort thead tr th.sorting::before {
  content: "\6e";
  right: 1.4em;
}

.table-sort thead tr th.sorting::after {
  content: "\6b";
  right: 0.5em;
}

.table-sort thead tr th.sorting.sort-desc::after {
  opacity: 1;
}

.table-sort thead tr th.sorting.sort-asc::before {
  opacity: 1;
}

.table-sort tbody tr td {
  white-space: nowrap;
  min-width: 105px;
}

.table-sort tbody tr td:first-child {
  min-width: 40px;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-box > div {
  margin-right: 10px;
  margin-top: 10px;
}

.search-box button {
  height: 32px;
}

.search-box .input-group-text {
  border-radius: 3px;
}

@media screen and (max-width: 552px) {
  .search-box > div {
    margin-right: 0;
    width: 100%;
  }
  .search-box > div select, .search-box > div input {
    width: 100%;
  }
  .search-box > div .btn-search {
    width: 100%;
  }
}

.search-select select {
  width: 130px;
  height: 32px;
  border-radius: 3px;
  padding: 5px;
}

.search-input input {
  width: 130px;
  height: 32px;
  border-radius: 3px;
  padding: 5px;
}

.date-select .input-group {
  width: 190px;
}

.date-select .input-group input {
  height: 32px;
}

@media screen and (max-width: 709px) {
  .date-select {
    width: calc(50% - 5px);
  }
  .date-select:nth-child(2n) {
    margin-right: 0;
  }
  .date-select .input-group {
    width: 100%;
  }
}

.date-btn {
  width: 330px;
}

@media screen and (max-width: 709px) {
  .date-btn {
    width: 100%;
  }
}

@media screen and (max-width: 552px) {
  .date-btn .btn {
    margin-bottom: 3px;
  }
}

.fa.fa-clock-o::before {
  content: "\f017";
}

.page-bar {
  margin-top: 15px;
}

.page-item {
  margin: 0 3px;
}

.page-link {
  border: 0;
  border-radius: 4px;
}

.card-header {
  position: relative;
  padding-right: 95px;
  font-weight: bold;
}

.refresh {
  background-color: #9a9a9a;
  padding: 4px 7px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  position: absolute;
  right: 10px;
  right: 20px;
  top: 8px;
}

.custom-control {
  margin-top: 7px;
}

.custom-control-label::before {
  top: 2px;
}

.report-table th {
  width: 200px;
  min-width: 200px;
}

.report-table th.width-40 {
  width: 40px;
  min-width: 40px;
}

.report-table th:nth-child(2) {
  width: auto;
}

.report-table td div {
  padding: 3px;
}

.report-table td div:first-child {
  border-bottom: 1px dotted #ccc;
}

.delivery-amount {
  margin-bottom: 15px;
}

.delivery-amount .card {
  margin-bottom: 15px;
}

.delivery-amount h6 {
  margin-top: 18px;
}

.delivery-amount h4 {
  margin: 27px 0 0;
}

.card-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

.border-line {
  border-bottom: 1px dotted #e1e4e6;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(83.333333% - 15px);
          flex: 0 0 calc(83.333333% - 15px);
}

.stored-box .form-group {
  margin-bottom: 0;
}

.stored-box .form-group:first-child .control-box {
  padding-right: 0;
}

@media (max-width: 767px) {
  .stored-box .form-group {
    width: 50%;
    margin: 0;
  }
  .stored-box .form-group:last-child {
    padding-right: 0;
  }
  .stored-box .form-group > label {
    padding-left: 0;
  }
}

.stored-box .control-label {
  padding-right: 0;
}

.stored-box .control-box {
  padding-left: 0;
}

.stored-total-box > .form-group {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .stored-total-box > .form-group {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .stored-total-box > .form-group {
    width: 100%;
  }
}

.stored-txt span {
  display: inline-block;
  margin-right: 20px;
}

.stored-txt span i {
  margin-left: 5px;
}

.day-list {
  padding-left: 0;
}

.day-list > div {
  padding-top: 7px;
}

@media (max-width: 550px) {
  .day-list {
    padding-left: 15px;
    margin-top: 10px;
  }
}

.day-list label {
  margin-left: 8px;
}

#info i, #card i {
  font-style: normal;
}

.ip-list span {
  width: 110px;
  margin-bottom: 3px;
}
/*# sourceMappingURL=style.css.map */